*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    height: 300px;
    margin: 30px auto;
    /* background shortands */
    /* background: rgb(100, 100, 250); */
    background-color: rgb(100, 100, 250);
    background-image: url(img/spidy.png);
    background-repeat: no-repeat;
    /* background-position: x y; */
    /* Palabras reservadas: top bottom lefth rigth center solo se pueden ocupar 2 */
    background-position: center ;
    /* background-size: x y;  o palabras reservadas cover contain auto*/
    background-size: auto;
}
