*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 80%;
    height: 400px;
    margin: 30px auto;
    background: steelblue;
    /* background-image: linear-gradient(
        direction, puede ser "to "+direccion(bottom, left, right, top) o con grados 90deg 40deg etc.
        color stop,
        color stop
    ); */
    background-image: linear-gradient(
        to right, crimson 50%, pink 80%
    );
}

.header{
    height: 900px;
    background-image: linear-gradient(
        #00008b80, 
        #4683b480
    ),
    url(img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0.1px;
}

.title{
    font-size: 60px;
    text-align: center;
    margin-top: 270px;
    font-family: Arial;
    color: #fff;
}