*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .enlaces{ */
    /* display: inline-block; */
    /* text-decoration: none; */
    /* background: crimson; */
    /* color: white; */
    /* margin: 0 auto; */
    /* padding: 30px 20px; */
    /* margin-top: 20px; */
    /* margin: 0 auto; */
/* } */

/* .block{ */
    /* display: none; */
    /* opacity: 0.5; */
/* } */

.header{
    height: 400px;
    background: crimson;
    color: white;
    height: 300px;
    height: 200px;
}

/* En este ejemplo no aplica el modelo en cascada por la especificidad */

/* body>header>h2.title#title{
    font-size: 40px;
}

h2.title{
    font-size: 10px;
} */

/*
    1000 - inline css(atributo style en las etiquetas html)
    100  - ID(por el #title)
    10   - Clases(denotación de punto .title)
    1    - Elementos(tags del html como header, h2, h3 etc.)
*/

/*
    Se mantiene el font-size de 10 por la especifidad
    ya que las clases valen 10 y los atributos 1
*/
/* .title{
    font-size : 10px;
}

h2{
    font-size : 40px;
} */

/*
    Aquí se aplica el font-size de 40 pero no por el model en cascada
    si no por que la especificidad de .title vale 10 y la de h2.title vale 11(clase+atributo)
*/
.title{
    font-size: 10px;
}

h2.title{
    font-size: 40px;
}