*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --my-color:crimson;
}



.title{
    font-size   : 3rem;
    color       : crimson;
    margin      : 40px 0;
    text-align  : center;
    font-family : monospace;
}

/* @media print{  Cuando se manda a imprimir 
    .title{
        color       : steelblue;
        font-size   : 5rem;
        text-align  : right;
        font-family : cursive;
    }
}

@media screen and (max-width:600px){
    :root{
        --my-color:white;
    }
    h1.title{
        background: black;
        color:white;
    }
} */

/* orientation existen dos opciones portrait y landscape */
/* @media screen and (orientation: landscape) and (max-width:600px) {
    .title{
        text-align: left;
        background: steelblue;

    }
} */

@media screen and (max-width:400px), (min-width:900px) {
    .title{
        background: steelblue;
        color: white;
    }
}