
/* Selectores de tipo */
h2{
    color:steelblue
}

/* nav{
    border: 1px solid black;
} */

/* Selectores de clase */
.borde{
    border: 1px solid black;
}

.titulo{
    text-align:center;
}

.😁{
    color: darkblue;
}

.😂{
    border: 1px solid black;
    font-size: 20px;
}

/* Selectores de ID */
#section{
    border: 1px solid black;
}

/* Selectores de atributos */
/* a[href]{
    font-size: 6px;
} */

/* h2[class]{
    color: red;
} */