*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: 'Arial';
}

/* ul,ol{
    padding: 0;
} */

/* list-style: tipo imagen posición; */

/* ul{
    margin: 30px 0;
    list-style-type: none;
    list-style-image: url('img/icono.png');
    list-style-position: inside;
}

ol{
    list-style: disc;
    list-style-position: inside;
}

.lista{
    font-size: 24px;
    background-color: darksalmon;
}


figure{
    width: 200px;
    height: 400px;
    background: crimson;
    margin: 30px auto;
    box-shadow: 0 0 10px rgb(0, 0, 0, .5);
}

.img{
    width: inherit;
    height: inherit;
    object-fit: cover;
} */

.gallery{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.gallery h2{
    margin: 40px 0;
    font-size: 35px;
    border-bottom: 4px solid #4343a1;
    padding-bottom: 20px;
}

.container{
    font-size: 0;
}
.container img{
    width: 30%;
    margin: 0 1.5% 20px;
    height: 280px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}