*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    max-width: 600px;
    height: 600px;
    outline: 2px solid #000;
    margin: 30px auto;
    display: flex;
    /* flex-direction: column-reverse; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* align-items: flex-end; */

    /* Este es un shorthand */
    /* flex-flow: direction wrap; */
    /* flex-flow: column wrap; */

    /* Valores para justify-content son:
    flex-end, flex-start, center, space-between, space-around, space-evenly*/
    justify-content: space-evenly;
}

.item{ 
    width: 150px;
    --height: 90px;
    background: tomato;
    height: var(--height);
    line-height: var(--height);
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.item1{
    
}

.item2{
    background: slateblue;
}

.item3{
    background: crimson;
}

.item4{
    background: steelblue;
}