*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 400px;
    max-width: 600px;
    height: 400px;
    outline: 2px solid #000;
    margin: 30px auto;
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* Este es un shorthand */
    /* flex-flow: direction wrap; */
    /* flex-flow: column wrap; */

    /* Valores para justify-content son:
    flex-end, flex-start, center, space-between, space-around, space-evenly*/
    /* justify-content: space-between; */

    /* Valores para align-items son
        stretch, center, flex-start, flex-end
    */
    align-items: center;

    /* Valores para align-content solo funciona cuando se activa flex-wrap
        stretch, center, flex-start, flex-end
    */
    /* flex-wrap: wrap;
    align-content: center; */
}

.item{ 
    width: 80px;
    --height: 80px;
    background: tomato;
    height: var(--height);
    /* line-height: var(--height); */
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: sans-serif;
    /* flex-grow: 1; */
    /* flex-grow: 0; */
    /* flex-shrink: 2; */
    /* flex-basis: 0;
    flex-grow: 1; */

    /* flex: 1 1 0; */
    /* flex: 10em; */
}

.item1{
    /* order:1 */
    /* flex-grow: 1; */
    /* flex-shrink: 3 */
}

.item2{
    background: slateblue;
    /* flex-grow: 10; */
    /* align-self: stretch; */
    /* height: auto; */
    /* margin-top: auto; */
    margin-bottom: auto;
}

.item3{
    background: crimson;
    /* order:-1 */
    /* margin-top: 400px; */
    /* margin-left: auto;
    margin-right: auto;
    margin-bottom: auto; */
}

.item4{
    background: steelblue;
}

/* @media screen and (min-width:600px) {
    .container{
        flex-direction: column;
    }
    .item4{
        order:-1
    }
} */