*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 90%;
    margin: 0 auto;
}

.box{
    background: steelblue;
    width: 55px;
    height: 55px;
    margin: 10px 0 10px 5px;
    text-align: center;
    line-height: 55px;
    color: white;
    font-weight: bold;
}

.container{
    margin-left: -5px;
    padding: 10px 0;
    border: 3px solid lightcoral;
    
}

/* Filtro por su tipo */
/* .box:only-of-type{
    background: tomato;
} */

/* .box:first-of-type{
    background: coral;
} */

/* .box:last-of-type{
    background: coral;
} */

/* .box:nth-of-type(2n+1){
    background: tomato;
} */
 
.box:nth-last-of-type(odd){ /* even=pares, odd=inpares*/
    background: tomato;
}
