/* Primer ejemplo */
h2,h3{
    font-size: 25px;
    font-family: 'Arial';
}

/* 
    Combinadores de decendientes
    : Se tienen que especificar con un espacio
*/
.contenedor p{
    color: lightcoral;
}

.contenedor a{
    color: blueviolet
}

/* 
    Combinadores de hijo directo
 */

.contenedor>p{
    color: red;
}

nav.titulo.contenedor{
    background: steelblue;
}

/* Retos */

h2, h3{
    font-size: 25px;
    font-family: 'Arial';
}

.contenedor a{
    text-decoration: none;
    color: firebrick
}

.contenedor>a{
    font-size: 20px;
    font-family: bold;
}


h2+p{ /* Primer hermano adyacente*/
    color: goldenrod;
}

h3~p{ /* Todos los hermanos generales*/
    color: indigo;
}