*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: coral;
    font-family: Arial;
}

.card{
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: -20px -20px 0  rgba(255, 255, 255, 0.204);
    overflow: hidden;
}

.card__title{
    border-bottom: 3px solid coral;
    padding-bottom: 7px;
    margin-bottom: 10px;
}

