*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial';
}
.grid{
    max-width : 700px;
    width     : 90%;
    height    : 500px;
    margin    : 20px auto;
    outline   : 3px solid #000;
    display: grid;
    /* grid-auto-flow: column; */
    /* align-items: flex-end; */
    /* grid-template-columns: repeat(2, 100px 200px); */
    /* justify-content: center; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 3fr);
}
 
.grid_item{
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

.grid_item:nth-child(1){
    background: crimson;
    /* grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5; */
    /* shorthand */
    grid-column: 3/5;
    grid-row: 3/5;
}

.grid_item:nth-child(2){
    background: darkmagenta;
}
.grid_item:nth-child(3){
    background: steelblue;
}
.grid_item:nth-child(4){
    background: brown;
}
.grid_item:nth-child(5){
    background: chocolate;
}
.grid_item:nth-child(6){
    background: midnightblue;
}
