*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    padding: 45px 0;
    /* color:crimson; */
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 240, 0.1)
}


.title{
    text-align: center;
    /* color: inherit; */
    /* color: tomato; */
    /* background: gray; */
    
}