*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    padding: 45px 0;
    /* color:crimson; */

    /* rgb y rgba */
    /* color: rgb(red, green, blue)
    color: rgba(red, green, blue, alfa(opacidad)) */
    /* color: rgb(255, 255, 255); */
    /* background: rgba(0, 0, 240, 0.1) */
    
    /* Hexadecimal */
    /* background: #777777;
    background: #111111; */
    /* 
    Se calcula multiplicanco el primier valor(convertido de hexadecimal a decimal)
    del primer par por 15 y sumar el segundo valor(convertido de hexadecimal a decimal) del primer par 
    */

    /* hsl */
    /* background: hsl(hue, saturation, lightness, alfa); */
    background: hsla(0, 100%, 50%, .5);
}


.title{
    text-align: center;
    /* color: inherit; */
    /* color: tomato; */
    /* background: gray; */
    
}