@import url('https://fonts.googleapis.com/css2?family=Sevillana&family=WDXL+Lubrifont+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{    
    background: #9ab1f6;
    font-family: "WDXL Lubrifont SC", sans-serif;
}

.container{
    background: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0,.2);
    text-align: center;
}

.h1{
    text-align: inherit;
    font-weight: 600;
}

.copy{
    text-align: justify;
    padding: 10px 0;
    /* letter-spacing: -1px; */
    /* word-spacing: 20px; */
    /* text-shadow: 3px 3px 6px #000000; */
    /* text-transform: capitalize; */
    /* line-height: 70px; */
    font-variant: small-caps;
    /* font-style: oblique; */
}

.bold{ 
    color:crimson;
    /* font-weight: bold; */
    font-size: 32px;
}

.enlace{
    display: inline-block;
    color:crimson;
    /* text-decoration: line style color; */
    /* text-decoration-line: underline overline;
    text-decoration-style: wavy;
    text-decoration-color: red; */
    text-decoration: none;
    border: 1px solid;
    padding: 10px 25px;
}